QA Academy Material/Week 1/Agile/Presentations/Day 1/001_Agile_Intro.pptx
QA Academy Material/Week 1/Agile/Presentations/Day 1/002_Introducing_Scrum.pptx
QA Academy Material/Week 1/Agile/Presentations/Day 1/003_Understanding_Scrum.pptx
QA Academy Material/Week 1/Agile/Presentations/Day 1/004_Planning_and_Estimating.pptx
QA Academy Material/Week 1/Agile/Presentations/Day 1/005_Risk_Management.pptx
QA Academy Material/Week 1/Agile/Videos/agile1.m4v
QA Academy Material/Week 1/Agile/Videos/agile2.m4v
QA Academy Material/Week 1/Agile/Videos/agile3.m4v
QA Projects/Project_1/python.py
